



  h3 {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif!important;
    color: black;
    font-size: 1.6em;
  }
.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid darkgray;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
  padding-right: 1%;
}

  .footer-title {
    padding-left: 1%;
    padding-top: 0.8%;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
  }



.form-control {
  display: block;
  width: 40%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-container {

  border: 5px solid red;
}

/******************************/
/* BANNER */ 
/******************************/

.sur-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
  background-image: url(images/event_banner_design.jpg);
}
  .banner {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

    .gros-titre {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .petit-titre {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .banner-text {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    body, html {
      height: 100%;
    }
    .sur-banner {
      /* The image used */
      background-image: url("https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/5/c/a/5cac543f48_50151060_ocean-coraux.jpg");
    
      /* Half height */
      height: 65%;
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

  .sur-sm-banner {
    /* The image used */
    background-image: url("https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/5/c/a/5cac543f48_50151060_ocean-coraux.jpg");

    /* Half height */
    height: 35%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }


/******************************/
/* CARDS */ 
/******************************/


.just-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.attendees-list {
  background-color: lightskyblue;
  border: 5px solid lightskyblue;
}


.cities-list {
  background-color: lightsalmon;
  border: 5px solid lightsalmon;
}

.line-event-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2%;
  margin-left: 2%;
}

/******************************/
/* COMMENTS */ 
/******************************/


.surboite-comment {
  display: flex;
  justify-content: center;
}



.comment-cadre {
  border: 1px solid gray;
 
}


  .be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #ffffff;
    background-color: lightskyblue;
    margin-left: 0%;
  }

  .comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
  }

  .be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
  }

  .be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .be-comment-content {
    margin-left: 80px;
  }

  .be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
  }

  .be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
  }

  .be-comment-content a {
    color: #383b43;
  }

  .be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
  }

  .be-comment-time {
    text-align: right;
  }

  .be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
  }

  .be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
  }

  .form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
  }

  .form-group.fl_icon .form-input {
    padding-left: 70px;
  }

  .form-group textarea.form-input {
    height: 150px;
  }


  .form-control {
    display: block;
    margin-top: 3%;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }


  .btn-comment {
    margin-top: 3%;
    display: flex;
    justify-content: left;
    margin-bottom: 2%;

  }

  .pouet {
    margin-top: 1%;
  }

  .incit-comment {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }











